version: "3.7"

services:
	codres:
		image: "aerfanr/codres-bot:latest"
		environment:
			- CODRES_APIKEY
			- CODRES_TELEGRAM_KEY
			- CODRES_TELEGRAM_ID
			- CODRES_DB_HOST
			- CODRES_DB_PORT
		depends_on:
			- db
	db:
		image: "redis"
		entrypoint: ["redis-server", "--appendonly yes"]
		volumes:
			- db:/data

volumes:
	db:
